<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">Forever Todo</a></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href="#">Register</a></li>
                    <li>
                        <form class="navbar-form" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Sign in</button>
                        </form>
                    </li>
                {% else %}


                    <li class="Dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{  user }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
           <!-- <li><a href="#">Action</a></li>-->
            <li class="divider"></li>
            <li><a href="/account/logout/">Logout</a></li>
          </ul>
                    </li>
                  <!--   <li>
                        <form class="navbar-form" url="/logout/" role=""form">
                            <button type="submit" class="btn btn-">Logout</button>
                        </form>
                    </li>-->
                {% endif %}
            </ul>
        </div>
    </div>
</div>
