{% extends "site_base.html" %}
{% load staticfiles %}

{% block style_base %}
    {{ block.super }}

    <!-- X-editable jQuery plugin for in-place editing, bootstrap version-->
    <link href="{% static 'css/bootstrap-editable.css' %}" rel="stylesheet" />
    <!-- Pickadate jQuery plugin, https://github.com/amsul/pickadate.js, http://www.jqueryrain.com/?V4r9LjZ3 -->
    <link href="{% static 'css/pickadate/classic.css' %}" rel="stylesheet">
    <link href="{% static 'css/pickadate/classic.date.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>{% if request.META.DJANGO_DEBUG %}(DEBUG){% endif %}Forever Todo Lists</h1>

            <p class="lead">Gone are the days when you had to struggle, pinning notes to your refrigerator with those
                little magnets. Leverage the power of the modern web to never ever forget anything again!</p>
        </div>

        {% if request.user.is_authenticated %}
            <div class="btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" onclick="FOREVER_TODO_JS.onCreateNewItem();">Create new item</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="$('#main_item_list').fadeOut('fast', function() { FOREVER_TODO_JS.uiSortByTitle(); $('#main_item_list').fadeIn(); }); ">Sort by name</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="$('#main_item_list').fadeOut('fast', function() { FOREVER_TODO_JS.uiSortByPriority(); $('#main_item_list').fadeIn(); }); ">Sort by priority</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onclick="$('#main_item_list').fadeOut('fast', function() { FOREVER_TODO_JS.uiSortByDate(); $('#main_item_list').fadeIn(); }); ">Sort by date</button>
                </div>
            </div>
        {% endif %}
    </div> <!-- jumbotron -->


    <noscript>
        <p class="label-warning lead text-center">It appears that your web browser does not support JavaScript,
      or you have temporarily disabled scripting. Either way, this site
      won't work without it. Here are the <a href="http://www.enable-javascript.com/" target="_blank">
 instructions how to enable JavaScript in your web browser.</p>
    </noscript>
        <p class="label-warning lead text-center" id="error-message" style="display: none;">A technical error has occurred. Unfortunately, there is nothing you can do.
        Please, reload the page or try again later.</p>



     <!-- Main list of items for the current user-->
     <ul id="main_item_list" style="list-style: none; "></ul>
{% endblock %}

{% block script_base %}
    {{ block.super }}

    {% if request.user.is_authenticated %}
        <script src="{% static  'js/todo-ui.js' %}"></script>
        <script>
            if (typeof FOREVER_TODO_JS !== "object") { // something went wrong
                document.getElementById("error-message").style.display = "block";
            } else {
                FOREVER_TODO_JS.init({{ request.user.pk }});
            }
        </script>
    {% endif %}

    <!--Tinysort plugin for sorting user's items in various ways-->
    <script src="{%  static 'js/jquery.tinysort.min.js' %}"></script>
    <!-- X-editable jQuery plugin for in-place editing, bootstrap version-->
    <script src="{%  static 'js/bootstrap-editable.min.js' %}"></script>
    <!-- Pickadate jQuery plugin, https://github.com/amsul/pickadate.js, http://www.jqueryrain.com/?V4r9LjZ3 -->
    <script src="{% static 'js/pickadate/picker.js' %}"></script>
    <script src="{% static 'js/pickadate/picker.date.js' %}"></script>
{% endblock %}
