{%  extends "base.html" %}
{%  load staticfiles %}

{% block head %}
    <!-- http://www.jqueryrain.com/?V4r9LjZ3 -->
    {{ block.super }}

    <!-- Pickadate jQuery plugin, https://github.com/amsul/pickadate.js, http://www.jqueryrain.com/?V4r9LjZ3 -->
    <link href="{% static 'css/pickadate/classic.css' %}" rel="stylesheet">
    <link href="{% static 'css/pickadate/classic.date.css' %}" rel="stylesheet">
    <script src="{%  static 'js/pickadate/picker.js' %}"></script>
    <script src="{%  static 'js/pickadate/picker.date.js' %}"></script>

{% endblock %}

{%  block main %}
  <div class="jumbotron">

      <div class="container">

      <h1>Forever Todo Lists</h1>

      <p class="lead">Gone are the days when you had to struggle, pinning notes to your refrigerator with those little magnets. Leverage the power of the modern web to never ever forget anything again!</p>

      </div>

          <div class="btn-group btn-group-justified">
 <div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="onCreateNewItem();">Create new item</button>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default" onclick="uiSortByTitle();">Sort by name</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default" onclick="uiSortByPriority();">Sort by priority</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default" onclick="uiSortByDate();">Sort by date</button>
  </div>
</div>

  </div>


  <div class="container" id="div-new-todo-item" style="display:none; width: 40%">
    <div id="msg" class="alert hide"></div>
    <table id="user" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td width="40%">Username</td>
                <td><a href="#" class="myeditable" id="new_username" data-type="text" data-name="username" data-original-title="Enter username"></a></td>
            </tr>
            <tr>
                <td>First name</td>
                <td><a href="#" class="myeditable" data-type="text" data-name="firstname" data-original-title="Enter firstname"></a></td>
            </tr>
            <tr>
                <td>Group</td>
                <td><a href="#" class="myeditable" data-type="select" data-name="group" data-source="/groups" data-original-title="Select group"></a></td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td><a href="#" class="myeditable" data-type="date" data-name="dob" data-viewformat="dd/mm/yyyy" data-original-title="Select Date of birth"></a></td>
            </tr>
            <tr>
                <td>Comments</td>
                <td><a href="#" class="myeditable" data-type="textarea" data-name="comments" data-original-title="Enter comments"></a></td>
            </tr>
        </tbody>
    </table>
    <div>
    <button id="save-btn" class="btn btn-primary">Save new user!</button>
    <button id="reset-btn" class="btn pull-right">Reset</button>
    </div>
</div>

<div class="container">



    </div>

  <div class="list-group">

    <!-- Allow the user to reorder the todos by drag and drop -->
      <ul id="main_item_list" style="list-style: none; "> <!--padding:0; margin:0;-->

     <script>
         var r = renderAllItems();
         for (var id in r) {
             document.write("<li>" + r[id] + "</id>");
         }

     </script>
    </ul>
</div>

{%  endblock %}
