{%  load staticfiles %}


<!DOCTYPE html>
<html>
  <head>
       <title>Bootstrap Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <!-- bootstrap -->
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<!--
     <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
-->

   <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
-->

      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <!-- x-editable (bootstrap version) -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

      <script src="{%  static 'js/jquery.tinysort.min.js' %}"></script>


      {%  comment %}
    <title>Bootstrap Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--
    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      -->

      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<!--      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
-->
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script src="{%  static 'js/jquery.tinysort.min.js' %}"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
$( "#zaccordion" ).accordion({  header: "h3" });
$( "#zsortable").sortable();
$('li').tsort();
});


</script>
{%  endcomment %}
<script>
        $(document).ready(function() {
    //toggle `popup` / `inline` mode
    $.fn.editable.defaults.mode = 'inline';

    //make username editable
    $('#username').editable();

    //make status editable
    $('#status').editable({
        type: 'select',
        title: 'Select status',
        placement: 'right',
        value: 2,
        source: [
            {value: 1, text: 'status 1'},
            {value: 2, text: 'status 2'},
            {value: 3, text: 'status 3'}
        ]
        /*
        //uncomment these lines to send data on server
        ,pk: 1
        ,url: '/post'
        */
    });
});

    $(function() {
$(".todo-header").editable();
$(".todo-content").editable();
$( "#acscordion" ).accordion({  disabled: true, header: "h3" });
$( "#sortable").sortable();
        $('li').tsort();

});


    priorities=[];
    completed=[];

    function priorityButtonHTML(item_id, is_enabled) {

        if (priorities[item_id] == undefined) {
            priorities[item_id] = 0;
        }

        var priority=priorities[item_id];

        var clbl=["label-default", "label-primary", "label-danger"][priority];
        var ctxt=["Low priority", "Normal priority", "High priority"][priority];
        return "<button " + (is_enabled ? "":" disabled ") + " type=\"button\" class=\"btn " + clbl +
                "\" id=\"btn-priority-" + item_id + "\" onclick=\"toggleItemPriority(" + item_id +
                ", true); \">" + ctxt + "</button>";
    }

    function toggleItemPriority(item_id, is_enabled) {
          // FIXME: just make sure, what will happen to the previous event handler after replaceWith?
            if (priorities[item_id] == undefined) {
                priorities[item_id] = 0;
            }
            priorities[item_id] = (priorities[item_id] + 1) % 3;
            setItemPriority(item_id, is_enabled);
    }
    function setItemPriority(item_id, is_enabled) {
            // FIXME: just make sure, what will happen to the previous event handler after replaceWith?
            if (priorities[item_id] == undefined) {
                priorities[item_id] = 0;
            }

            $('#btn-priority-'+item_id).replaceWith(priorityButtonHTML(item_id, is_enabled));

   }


    function markCompleted(item_id, is_completed) {
        completed[item_id]=is_completed;

        $('#todo-item-'+item_id).replaceWith(todoItemHTML(item_id));

        $(".todo-header").editable();
$(".todo-content").editable();
    }



    function todoItemHTML(item_id) {
       is_completed = completed[item_id];
       if (is_completed==undefined) { is_completed = false; } // FIxME


       return (is_completed ? "<div class=\"panel panel-success\" id=\"todo-item-"+item_id+"\">":
                "<div class=\"panel panel-default\"               id=\"todo-item-"+item_id+"\">") +
            "<div class=\"panel-heading\">"+
               (is_completed ?
                "<span class=\"label label-success\">Completed</span>" :
               "<span class=\"label label-default\">Pending</span>") +
                  priorityButtonHTML(item_id, !is_completed) +
"<u " + (is_completed ? "" : "class=\"todo-header\"") +  "data-type=\"text\" data-pk=\""+item_id+"\">"+
                "<b class=\"panel-title\" >Pick up milk</b></u>" +
               (is_completed ?
                 "<em>(not editable any more)</em>" :
                 "<em>(click or tap to edit)</em>") +
            "</div>"+
            "<div class=\"panel-body " + (is_completed ? "" : " todo-content ")+
               "\" data-type=\"textarea\">It is reeally important to pick up milk"+
            "Really really super</div>"+
            "<div class=\"panel-footer\">"+
               (is_completed ?
                  "<button type=\"button\" class=\"btn btn-sm\"    onclick=\"markCompleted("+item_id+", false);\">Revert to pending</button>" :
                "<button type=\"button\" class=\"btn btn-success\" onclick=\"markCompleted("+item_id+", true);\">Mark as completed</button>") +
     "<button type=\"button\" class=\"btn btn-warning pull-right\" >Delete</button>" +
        "</div></div>";
    }
    </script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#">Forever Todo</a> </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div>
    <!--/.navbar-collapse -->
  </div>
</div>



<!--
    <div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <div class="navbar-header">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bootstrap <3</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>


-->
  <div class="jumbotron">

      <div class="container">

      <h1>Forever Todo Lists</h1>

      <p class="lead">Gone are the days when you had to struggle, pinning notes to your refrigerator with those little magnets. Leverage the power of the modern web to never ever forget anything again!</p>


      </div>


          <div class="btn-group btn-group-justified">
 <div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="$('#div-new-todo-item').show();">Create new item</button>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default" onclick="$('li').tsort();">Sort by name</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default" onclick="$('li').tsort();">Sort by priority</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default" onclick="$('li').tsort();">Sort by date</button>
  </div>
</div>

  </div>


  <div class="container" id="div-new-todo-item" style="display:none; width: 40%">
    <div id="msg" class="alert hide"></div>
    <table id="user" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td width="40%">Username</td>
                <td><a href="#" class="myeditable" id="new_username" data-type="text" data-name="username" data-original-title="Enter username"></a></td>
            </tr>
            <tr>
                <td>First name</td>
                <td><a href="#" class="myeditable" data-type="text" data-name="firstname" data-original-title="Enter firstname"></a></td>
            </tr>
            <tr>
                <td>Group</td>
                <td><a href="#" class="myeditable" data-type="select" data-name="group" data-source="/groups" data-original-title="Select group"></a></td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td><a href="#" class="myeditable" data-type="date" data-name="dob" data-viewformat="dd/mm/yyyy" data-original-title="Select Date of birth"></a></td>
            </tr>
            <tr>
                <td>Comments</td>
                <td><a href="#" class="myeditable" data-type="textarea" data-name="comments" data-original-title="Enter comments"></a></td>
            </tr>
        </tbody>
    </table>
    <div>
    <button id="save-btn" class="btn btn-primary">Save new user!</button>
    <button id="reset-btn" class="btn pull-right">Reset</button>
    </div>
</div>

<div class="container">



    </div>

  <div id="accordion" class="list-group">


      <ul id="sortable" style="list-style: none; "> <!--padding:0; margin:0;-->
    <li>
 <h3>TODO: Learn python well</h3>
<div>Pending
<p>
Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
</p>
</div>
        </li>

     <li>
         <script>document.write(todoItemHTML(5));</script>

     </li>
    <li>
        <div class="panel panel-default" id="todo-item-4">
            <div class="panel-heading">
                <span class="label label-default">Pending</span>
                <script>
                    document.write(priorityButtonHTML(4, true));
                </script>
                  <u class="todo-header" data-type="text" data-pk="3">
                    <b class="panel-title" >Pick up milk</b></u>

            </div>
            <div class="panel-body todo-content" data-type="textarea">It is reeally important to pick up milk
            Really really</div>
            <div class="panel-footer">
                  <button type="button" class="btn btn-success" onclick="markCompleted(4);">Mark as completed</button>
  <button type="button" class="btn btn-warning pull-right">Delete</button>

        </div>

</li>


       <li>
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="label label-success">Completed</span>
                  <script>
                    document.write(priorityButtonHTML(3, false));
                </script>
<u class="todo-header" data-type="text" data-pk="3">

                <b class="panel-title" >Pick up milk</b></u>
                    <em>(not editable any more)</em>
            </div>

            <div class="panel-body " data-type="textarea">It is reeally important to pick up milk
            Really really super</div>

            <div class="panel-footer">
                  <button type="button" class="btn btn-sm">Revert to pending</button>
  <button type="button" class="btn btn-warning pull-right">Delete</button>

        </div>

</li>




    <li>
<h3 class="list-group-item-heading">  <span class="label label-success">Completed</span>Buy celery</h3>
<div class="caption">
<p class="list-group-item-text">
    <span class="label label-default">Pending</span>
    <span class="label label-success">Completed</span>
Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
</p>
<ul>
<li>List item one</li>
<li>List item two</li>
<li>List item three</li>
</ul>
</div></li><li>
<a href="#" id="todo-header" data-type="text" data-pk="4"><h3>Section 4</h3></a>
<div>

<p id="todo-content" data-type="textarea" data-pk="4">
Cras dictum. Pellentesque habitant morbi tristique senectus et netus
et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
mauris vel est.
</p>
</div></li>
</div>


  <div class="container">

<!-- Your content goes here -->

  <hr>
  <footer>
    <p>&copy; Company 2014</p>
  </footer>
</div>
<!-- /container -->
  </body>
</html>
