{% extends "theme_bootstrap/base.html" %}



{% block navbar_class %}navbar-inverse navbar-fixed-top{% endblock %}
{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">ForeverTodo</a>{% endblock %}





{% block nav %}
    {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'api_page' %}">API</a></li>
        </ul>
    {% endif %}
{% endblock %}



{%  block footer %}
                <p>&copy; Sergey Orshanskiy, 2014</p>

{% endblock %}

